* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  border: 10px solid purple;
  display: grid;
  /* background: rgb(235, 154, 255); */
  /* margin: 2vh; */
}



.Home-container {
  display: grid;
  /* background: #000; */
}

.Home-container img {
  width: 100%;
}

.overview {
  /* border: 2px solid red; */
  padding: 10px;
  display: flex;
}

.overview img {
  /* border: 2px solid rgb(152, 0, 0); */
  width: 100vh;
}

.overview p {
  font-size: 1.4rem;
  /* border: 2px solid rgb(0, 0, 0); */
}




.images img {
  width: 100%;
}

.Course-container {
  /* background: rgb(146, 141, 141); */
  /* background: rgb(0, 82, 93);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4vh 1vh;
  margin-top: -10px;
  justify-content: center;
  justify-self: center; */
  /* border: 5px solid greenyellow; */
}

.Course-item-container {
  /* border: 3px solid rgb(48, 130, 95); */
  margin: 30px 15px;
  justify-self: center;
  width: 60vh;
  border-top-left-radius: 25px;
  /* color: white; */
  padding: 10px;
  font-size: 1.3rem;
  cursor: grab;
  justify-content: center;
  justify-self: center;
  box-shadow: 10px 10px 10px rgb(4, 77, 54);
  background: rgb(112, 112, 112);
  /* grid-column: 1/2; */
}

.Course-item-container:hover {
  box-shadow: 10px 10px 10px rgb(9, 52, 44);
}

.Course-item-container img {
  height: 60vh;
  border-top-left-radius: 25px;
}

.Course-item-container button {
  width: 100%;
  height: 5vh;
  font-size: 1.5rem;
  /* border-radius: 15px 0px; */
  cursor: pointer;
}

.Course-item-container button:hover {
  background: rgb(177, 177, 177);
}

.contact-container {
  background: rgb(229, 229, 229);
  /* height: 100rem; */
}

/* .contact-container::before {
  content: "";
  background: url(./img/oskars-sylwan-Xjg8t1KO26o-unsplash.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  margin: 0;
  opacity: 0.8;
  z-index: -1;
} */

.contact-container h1 {
  text-align: center;
}

/* .contact-container{
  border: 3px solid greenyellow;
  padding: 15px 20px;
  justify-self: center;
  background: rgb(235, 154, 255);

  margin: 1vh 1vh;
  width: 97%;
} */

.form {
  /* border: 3px solid red; */
  justify-self: center;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
.signUp{
  justify-self: center;
  display: flex;
  justify-content: center;
}

.form #suggestion {
  height: 15vh;
  width: 120vh;
  resize: none;
  padding: 10px;
  margin: 10px 12px;
}

.form label {
  font-size: 1.2rem;
  margin: 10px 12px;
}

.form input {
  width: 120vh;
  height: 2vh;
  padding: 10px;
  margin: 10px 12px;
}

.form button {
  width: 30vh;
  margin: 8px 15px;
  height: 5vh;
  cursor: pointer;
  background: none;
  /* border-color: rgb(83, 43, 43); */
  /* color: rgb(0, 0, 0); */
  font-size: 1.1rem;
}

.sponsor-container {
  /* background: rgb(203, 203, 203); */
  /* color: white; */

}

.sponsor {
  display: flex;
  color: white;
  /* border: 3px solid firebrick; */
}

.sponsor-container img {
  height: 8rem;
  margin: 10px auto;
  justify-self: center;
  /* background: rgb(115, 115, 115); */
}


.about-container {
  /* border: 3px solid olivedrab; */
  /* background: rgb(238, 238, 238); */
  /* color: rgb(0, 0, 0); */
  /* padding-bottom: 20px; */
}

.about {
  padding: 20px 45px;
  font-size: 1.3rem;
}


/* Footer */
.foot {
  /* border: 3px solid red; */
  /* height: 10vh; */
  padding: 10px 10px;
  background: rgb(127, 127, 127);
  text-align: center;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}

.foot a {
  text-decoration: none;
  margin: 2px 15px;
  color: rgb(255, 255, 255);
}

.left {
  /* border: 4px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: row;
  margin: 5rem 10rem;
  /* background: rgb(135, 135, 135); */
}

.left img {
  /* border: 2px solid rgb(0, 255, 145); */
  width: 400px;
  margin: 10px 6px;
  /* color: white; */
}

.left p {
  /* border: 2px solid rgb(25, 50, 0); */
  font-size: 1.5rem;
  margin: auto 2rem;
  color: black;
}

.right {
  /* border: 2px solid lawngreen; */
  flex-direction: row-reverse;
  display: flex;
  margin: 5rem 10rem;
  /* background: rgb(143, 143, 143); */
}

.right img {
  /* border: 2px solid rgb(0, 255, 145); */
  width: 400px;
  margin: 10px 6px;
}

.right p {
  /* border: 2px solid rgb(25, 50, 0); */
  font-size: 1.5rem;
  margin: auto 2rem;
  color: black;
}

/* .our-det{
  border: 3px solid yellow;
  font-size: 1.4rem ;
  padding: 15px 20px;
  background: rgb(174, 174, 174);
  color: #172941;
} */
h1 {
  color: rgb(0, 0, 0);
  padding-top: 1rem;
}

.logIn-container {
  background: rgb(229, 229, 229);
  height: 1000px;
}

.logIn {
  /* border: 2px solid red; */
  padding: 15px 10px;
  /* display: flex;
  justify-content: center; */
  display: grid;
}

.logIn form {
  /* background: rgb(148, 144, 144); */
  font-size: 1.5rem;
  justify-self: center;
  padding: 10px;
}

.logIn input {
  width: 50vw;
  padding: 4px 6px;
  font-size: 1.3rem;
  background: none;
}

.logIn button {
  color: rgb(0, 0, 0);
  background: none;
  border: 1px solid black;
  font-size: 1.4rem;
  width: 12rem;
  cursor: pointer;
  margin: 1rem 0;
  margin-right: 1rem;
}

/* .signUp-container::before {
  content: "";
  background: url(./img/oskars-sylwan-Xjg8t1KO26o-unsplash.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  margin: 0;
  opacity: 0.8;
  z-index: -1;
} */

.signUp-container {
  background: rgb(255, 255, 255);
  height: 1000px;
}

.signUp {
  /* border: 2px solid red; */
  padding: 15px 10px;
  /* display: flex;
  justify-content: center; */
  display: grid;
}

.signUp form {
  /* background: rgb(148, 144, 144); */
  font-size: 1.5rem;
  justify-self: center;
  padding: 10px;
}

.signUp input {
  width: 50vw;
  padding: 4px 6px;
  font-size: 1.3rem;
  background: none;
  border: none;
  border-bottom: 1px solid red;
}

.signUp button {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: black;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.4rem;
  width: 15vh;
  cursor: pointer;
  margin-top: 15px;
}

.contactUs {
  padding: 0.9rem 0;
}

.det {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: 3rem 0px;
  color: black;
}

.links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 5px 30px;
  color: rgb(0, 0, 0);

}

.links img {
  width: 3vh;
  margin: 5px;
  margin-top: -1px;
  background: white;
  /* color: white; */
}

.sign{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.det-left{
  display: flex;
  flex-direction: row-reverse;
}