* {
    margin: 0;
    padding: 0;
}

.c-detail {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr 2fr 0.1fr;
    /* border: 1px solid green; */
    padding: 0.5rem;
    /* background: rgb(202, 202, 202); */
}

.buy {
    /* background: rgb(226, 226, 226); */
    color: white;
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.2fr 1fr 0.5fr;
}

.detailed {
    /* border: 1px solid rgb(255, 255, 255); */
    border-bottom: 1px solid white;
    margin: 1rem 0.5rem;
    background: rgb(248, 248, 248);
    color: white;
}

.c-img {
    width: 40rem;
    grid-column: 2/3;
    /* border: 1px solid red; */
}

.c-info {
    /* border: 1px solid rgb(153, 106, 106); */
    display: grid;
    grid-column: 4/5;
    justify-content: center;
    padding: 0.4rem 0.5rem;
}

h2 {
    color: rgb(0, 0, 0);
    margin: 1rem 0;
}

.c-info p {
    font-size: 1.4rem;
    color: black;
}

.price {
    /* border: 3px solid rgb(255, 179, 0); */
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.price p {
    padding-right: 20px;
    font-size: 1.5rem;
    color: rgb(229, 61, 61);
}

.price button {
    display: grid;
    width: 15rem;
    height: 2rem;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    border: 1px solid white;
    color: white;
    padding-top: 0.4rem;
    background: #000;
}

.price button:hover {
    background: rgb(116, 116, 116);
    color: white;
    cursor: pointer;
}

.include {
    /* border: 3px solid greenyellow; */
    grid-column: 4/5;
}

.include ul {
    margin: 0.8rem;
    padding-left: 2rem;
    /* border: 1px solid red; */
}

.include li {
    margin: 0.3rem 1rem;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
}

@media (max-width:1200px) {
    .c-detail {
        display: flex;
        flex-direction: column;
    }

    .buy {
        display: flex;
        flex-direction: column;
    }

    .price p {
        font-size: 2.5rem;
    }

    .include {
        display: grid;
    }

    .c-detail img {
        width: 100%;
        grid-column: 2/3;
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 0.5rem auto;
    }

    .price button {
        margin: 0.5rem auto;
        width: 20rem;
        height: 2rem;
        font-size: 1.5rem;
    }
}

@media (max-width:820px) {
    .buy {
        /* background: rgb(226, 226, 226); */
        color: white;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr; */
    }
}

@media (max-width:720px) {
    .buy {
        display: flex;
        flex-direction: column;
    }

    .price {
        margin: 0.5rem 0;
        display: grid;
        justify-content: center;
    }

    .price p {
        padding-right: 10px;
        font-size: 1.3rem;
        color: rgb(229, 61, 61);
    }

    .include {
        font-size: 1rem;
        /* border: 1px solid red; */
        display: grid;
        justify-content: center;
    }

    .include h1 {
        font-size: 1.2rem;
    }

    .include li {
        font-size: 1.2rem;
    }
}

.offer{
    margin: 0.3rem 0rem;
    background: rgb(201, 201, 201);
}
.oprice{
    background: rgb(188, 188, 188);
    text-decoration-line:line-through;
}