
@media (max-width:1111px) {
    .left {
        display: flex;
        flex-direction: column;
        /* border: 3px solid rebeccapurple; */
        margin: 2rem 5rem;
    }

    .left p {
        font-size: 1.3rem;
        margin: 1rem 1.1rem;
        margin: auto 1px;
        padding: 1rem 0.9rem;
    }

    .left img {
        /* border: 1px solid rebeccapurple; */
        width: 80%;
        margin: auto auto;
    }

    .right {
        /* border: 1px solid rebeccapurple; */
        margin: 2rem 5rem;display: flex;
        flex-direction: column;
    }

    .right p {
        font-size: 1.3rem;
        margin: 1rem 1.1rem;
        margin: auto 1px;
        padding: 1rem 0.9rem;
    }

    .right img {
        /* border: 1px solid rebeccapurple; */
        margin: auto auto; width: 80%;
    }
    .contact-container input {
        background: rgb(229, 229, 229);
        width: 200px;
    }
}

@media (max-width:970px) {
    .sponsor img{
        width: 12rem;
    }
}

@media (max-width:830px) {
    .Course-item-container{
        width: 25rem;
    }
    .Course-item-container img{
        width: 25rem;
        height: 34rem;
    }

    .sponsor-container img {
        height: 6vh;
        margin: 10px auto;
        justify-self: center;

    }

    .left,
    .right {
        flex-direction: column;
    }

    .left img {
        width: 530px;

    }

    .det {
        display: flex;
        flex-direction: column;
    }

    .Course-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .l-list li ul a {
        display: flex;
        flex-direction: row;
        color: #000;
    } */

    .r-list {
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        background: rgb(229, 229, 229);
    }

    .contact-container input {
        background: rgb(229, 229, 229);
        width: 100px;
    }

    .form #suggestion {
        width: 600px;
        height: 100px;
        background: rgb(229, 229, 229);
    }



    .signUp-container::before {
        content: "";
        /* background: #000; */
        /* background: url(./img/oskars-sylwan-Xjg8t1KO26o-unsplash.jpg) no-repeat center center; */
        /* width: 100%;
      height: 100%; */
        /* background-size: 100%; */
        /* position: absolute;
      margin: 0;
      opacity: 0.8;
      z-index: -1; */
    }
}

@media (max-width:665px) {
    .contact-container input {
        background: rgb(229, 229, 229);
        width: 500px;
    }

    .form #suggestion {
        width: 500px;
    }
}

@media (max-width:590px) {
    .left {
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 2rem 4.5rem;
    }

    .left p {
        font-size: 1.1rem;
        margin: 1rem 1.1rem;
    }

    .left img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 23rem;
    }


    .right img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 23rem;
    }

    .right p {

        font-size: 1.1rem;
        margin: 1rem 1.1rem;
    }

    .right {
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 2rem 4.5rem;
    }
}

@media (max-width:544px) {
    .contact-container input {
        background: rgb(229, 229, 229);
        width: 300px;
    }

    .form #suggestion {
        width: 300px;
    }
}



@media (max-width:509px) {
    .left {
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 2rem 3.5rem;
    }

    .left p {
        font-size: 1.1rem;
        margin: 1rem 1rem;
    }

    .left img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 20rem;
    }


    .right img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 20rem;
    }

    .right p {
        font-size: 1.1rem;
        margin: 1rem 1rem;
    }

    .right {
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 2rem 3.5rem;
    }
}

@media (max-width:444px) {
    .Course-item-container {
        width: 360px;
    }

    .Course-item-container img {
        width: 350px;
    }
}

@media (max-width:436px) {

    .left img {
        width: 320px;

    }

    .right img {
        width: 320px;

    }

    .sponsor-container img {
        height: 40px;
        margin: 8px auto;
        justify-self: center;
    }

    .contact-container {
        background: rgb(229, 229, 229);
    }

}


@media (max-width:430px) {
    .left {
        /* border: 1px solid rgb(0, 0, 0); */
        margin: 2rem 2.5rem;
    }

    .left p {
        font-size: 1.1rem;
        margin: 1rem 0.4rem;
    }

    .left img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 20rem;
    }


    .right img {
        /* border: 1px solid rgb(0, 0, 0); */
        width: 20rem;
    }

    .right p {
        font-size: 1.1rem;
        margin: 1rem 0.4rem;
    }

    .right {
        /* border: 1px solid rcolgb(0, 0, 0); */
        margin: 2rem 2.5rem;
    }
}

@media (max-width:400px) {
    .left {
        margin: 0 0.1rem;
    }

    .left img {
        width: 20rem;
    }

    .right {
        margin: 0 0.1rem;
    }

    .right img {
        width: 20rem;
    }
}

@media (max-width:394px) {
    .Course-item-container {
        width: 300px;
    }

    .Course-item-container img {
        width: 295px;
    }
}

@media (max-width:355px) {
    .Course-item-container {
        width: 290px;
    }

    .Course-item-container img {
        width: 285px;
    }
 
}
@media (max-width:339px) {
    .left img {
        width: 200px;
    }

    .right img {
        width: 200px;
    }

    .det {
        font-size: 1rem;
    }
}




@media (max-width:334px) {
    .Course-item-container {
        width: 250px;
    }

    .Course-item-container img {
        width: 255px;
    }
}
@media (max-width:265px) {
   .sponsor-container img{
       width: 2.5rem;
   }
   .about{
       /* border: 1px solid red;// */
       padding: 2px 5px;
       font-size: 1rem;
   }
   .det{
       /* border: 1px solid rgb(220, 197, 197); */
       margin: 3rem 0px;
   }
   .contactUs{
       /* border: 1px solid red;   */
       margin: 2rem -2px;
   }
}


@media (max-width:300px) {
    .Course-item-container {
        background: rgb(165, 116, 116);
        width: 36.5vh;
    }

    .Course-item-container img {
        background: rgb(166, 166, 166);
        width: 36vh;
    }
}
@media (max-width:385px) {
    .Course-item-container {
        background: rgb(235, 126, 126);
        width: 35vh;
    }

    .Course-item-container img {
        background: rgb(166, 166, 166);
        width: 35vh;
    }
}
@media (max-width:275px) {
    .Course-item-container {
        background: rgb(235, 126, 126);
        width: 33vh;
    }
    .Course-item-container img {
        background: rgb(166, 166, 166);
        width: 33vh;
    }
}
@media (max-width:260px) {
    .Course-item-container {
        background: rgb(255, 57, 57);
        width: 31vh;
        font-size: 1rem;
    }
    .Course-item-container img {
        background: rgb(166, 166, 166);
        width: 30vh;
        height: 40vh;
    }
}
@media (max-width:250px) {
    .Course-item-container {
        background: rgb(255, 57, 57);
        width: 30vh;
        font-size: 1rem;
        margin: 2rem 1px;
    }
    .Course-item-container img {
        background: rgb(166, 166, 166);
        width: 30vh;
        height: 40vh;
    }
}


@media(max-height:745px){
    .sponsor-container{
        /* border: 3px solid yellowgreen; */
    }
    .sponsor-container img{
        /* border: 1px solid red; */
        width: 10rem;
    }
}
@media(max-height:1599px){
    @media(max-width:1500px) {
        .sponsor-container{
            /* border: 3px solid yellowgreen; */
        }
        .sponsor-container img{
            /* border: 1px solid red; */
            width: 10rem;
        }
    
        .Course-container{
            display: flex;
            flex-direction: column;
        }
    }
}
